html {
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
	
	background-image: url(../img/cities/london.png);
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#header {
	width: 100%;
	top: 0px;
	background: linear-gradient(#FFFFFF, #EEEEEE);
	opacity: 0.8;
	position: fixed;
}
#header table {
	width: 100%;
}
#topRow {
	width: 100%;
}
#topRow td {
	padding: auto;
	text-align: center;
	width: auto;
}

#topRow a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: 600;
}
#mainBody {
	position: fixed;
	display: block;
	height: 100%;
	width: 100%;
	top: 0px;
}
#centerBlock {
	position: relative;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top: -200px;
	
	width: 500px;
	height: 300px;
	background-color: black;
	opacity: 0.75;
}
#timeBlock {
	position: relative;
	display: block;
	top: 50px;
}
#time {
	font-size: 125px;
	font-weight: 400;
	color: white;
	text-align: center;
	margin-bottom: 0px;
}

#date {
	font-size: 30px;
	font-weight: 400;
	font-style: italic;
	color: white;
	text-align: center;
	
	margin-top: 10px;
}